.masonry-grid {
	column-count: 4;
	column-gap: 1rem;
}

@media (max-width: 1200px) {
	.masonry-grid {
		column-count: 3;
	}
}

@media (max-width: 800px) {
	.masonry-grid {
		column-count: 2;
	}
}

@media (max-width: 500px) {
	.masonry-grid {
		column-count: 1;
	}
}

.masonry-grid > * {
	break-inside: avoid;
	margin-bottom: 1rem;
}

